<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2kbI-Zb5djwowUGExC12ppksanqaVfHI</string>
	<key>GCM_SENDER_ID</key>
	<string>727143116032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saithaw.Food-Ordering-App</string>
	<key>PROJECT_ID</key>
	<string>food-order-app-bcc1f</string>
	<key>STORAGE_BUCKET</key>
	<string>food-order-app-bcc1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727143116032:ios:6472b7f0e8c76bcba2d7e5</string>
</dict>
</plist>